
body {
    width: 100%;
    height: 100%;
}

.game-area {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
    height: 600px;
    width: 600px;
    border: 1px solid lightgrey;
}

.game-board {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    height: 100%;
    width: 100%;
}

.tile {
    flex:30%;                       /* don't grow, don't shrink, width */
    height: 33%;
    background-color: whitesmoke;
    border: 1px solid darkgrey
}

.tile:hover {
    background-color: darkgray;
}

.button-area {
    position: absolute;
    left: 5%;
    top: 30%;
    width: 200px;
    height: 200px;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.char-box {
    display: flex;
    flex-direction: row;
    margin-bottom: 10%;
}

.character-button {
    margin: 10px;
}